pre {
	padding-top: 30px;
	font-family: "Arial";
	font-size: 14px;
}
hr {
	width:100%;
}

}
body {color:black;
	background-color: RGB(255,255,255);
	background-size: 100% 100%;
	bottom:0;
	background-repeat: no-repeat;

}
#Showcase{
	margin-left: 50px;

}
#Zodiac{
	margin-left: 50px;

}
#information{
	display: inline-block;
	float:center;


}
#footer {
	position:absolute;
	width:100%;
	bottom:5px;


}
html{
	font-family: "Arial";
	background-color: rgb(100 100 100);
	width:1024px;
	height: 768px;
	margin: 0 auto;
	}
#dd {
	float: right;


}
.subhead {
	padding-left: 205px;


}
ul {
	list-style-type: none;
	float:left;
}
div{
	margin-left: 200px;
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;

}
li{
	margin-bottom:20px;
	padding-right: 35px;

}
a:link{
	color:gray;


}
a:visited{
	color:gray;

}
a:hover{
	color:gray;

}
a:active{
	color:gray;
}

#button1 {
	    background-color: gray;
	    border: none;
	    color: white;
	    padding: 8px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin: 0px 50px;
	}

}
a{
	font-weight: bold;
	text-decoration: none;


}
#mainsec{
	font-size: 14px;


}
