pre {
	padding-top: 50px;
	font-family: "Arial";
	font-size: 14px;
	float:right;
}
hr {
	width:100%;
}
body {color:black;
	background-color: RGB(255,255,255);
	background-size: 100% 100%;
	bottom:0;
	background-repeat: no-repeat;

}
#Showcase{
	margin-left: 50px;

}
#Zodiac{
	margin-left: 50px;

}
#information{
	display: inline-block;
}
#footer {
	display: inline-block;
}
html{
	font-family: "Arial";
	background-color: rgb(255, 255, 255);
	width:1024px;
	height: 768px;
	margin: 0 auto;
	}
.subhead1 {
	padding-left: 205px;
	color: gray;

}
.subhead2 {
	padding-left: 205px;
	font-size: 40px;
	font-weight: bold;
	margin: 0px;

}
div{
	margin-left: 200px;
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;

}
ul {
	list-style-type: none;
	float:left;
}

li{
	margin-bottom:20px;
	padding-right: 35px;

}
a:link{
	color:gray;


}
a:visited{
	color:gray;

}
a:hover{
	color:gray;

}
a:active{
	color:gray;
}
a{
	font-weight: bold;
	text-decoration: none;


}

#mainsec{
	font-size: 14px;


}
.logo {
	float:left;
	height: 10%;
	width: 20%;
		
}
.animal{
	display: inline-block;
	height: 10%;
	width: 20%;
	float: right;
}
#centerpic{
	display: inline-block;
	
}
.centertext{
	text-align: center;
	font-weight: bold;
}
.textbox1{
	width: 100%;
	
	
}
#comments{
	width: 100%;

}
table{
	
}
#button1 {
	    background-color: gray;
		opacity: 0.6;
	    border: none;
	    color: white;
	    padding: 8px 32px;
	    text-align: center;
	    text-decoration: none;
	    font-size: 16px;
		margin-left: 119px;
}
#tablediv{
	margin-left: 193px;
	
}
