body {color:blue;
	background-image: url("");	
	background-size: 100% 100%;
	background-color:rgba(0,0,0,0.5);
	bottom:0;
	background-repeat: no-repeat;
}
ul{
	border:1px solid black;
	margin-bottom: 100px;

}
li{
	padding-right:15px;
	padding-bottom:5px;
	
	
}
#information{
	display: inline-block;
	vertical-align: top;
	float:center;
	margin-left:50px;
	
}
#linkDiv{
	display: inline-block;
	vertical-align: top;
	float:left

}
#footer {
	position:absolute;
	width:100%;
	bottom:5px;
	
	
}